.button {
  background-color: var(--main-colour);
  font-size: 2rem;
  border-radius: 40rem;
  padding: 1rem 2rem;
  cursor: pointer;
  font-weight: 500;
  font-family: 'Cabin';
  border: none;
  color: var(--dark-color);
}

